* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu_bg {
  background-image: url("../images/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
#container {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50vw;
  height: 70vh;
  border: 2px double #ffffff;
}

#title {
  font-size: 4.5rem;
  text-align: center;
  color: #ffffff;
}

#highScore {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: -50px;
  text-align: center;
  color: #ffffff;
}

#end {
  font-size: 5rem;
  text-align: center;
  margin-top: 8%;
  color: #ffffff;
}

#player_score {
  font-size: 2rem;
  color: #ffffff;
}

ul {
  margin-top: 10px;
  list-style-image: url("../images/hero.png");
}

ul li {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  padding: 5px;
}
a {
  color: #ffffff;
  text-decoration: none;
}

#background {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background.jpg");
   /* background-size: cover;  */
  position: relative;
  background-repeat: repeat;
  animation: animatedBackground 10s linear infinite reverse;
}

#status {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: #000000;
  margin: 0px;
  z-index: 3;
}

#lives,
#score,
#level,#bullets {
  padding: 5px;
  color: white;
}

#ship {
  width: 50px;
  height: 50px;
  background-image: url("../images/hero.png");
  position: absolute;
  left: 10px;
  z-index: 1;
}
#weapons,
#enemies,
#enemy-weapons {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.weapon {
  background-image: url("../images/missile1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 15px;
  position: absolute;
}
.enemy {
  background-image: url("../images/enemy.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
}
.enemy-weapon {
  background-image: url("../images/missile2.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 15px;
  background-size: cover;
  width: 42px;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

#power_ups {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../images/fuel.png");
  z-index: 1;
}
